*.dill filter=lfs diff=lfs merge=lfs -text
*.framework filter=lfs diff=lfs merge=lfs -text
grpc filter=lfs diff=lfs merge=lfs -text
*.c linguist-detectable=false
*.h linguist-detectable=false
*.cpp linguist-detectable=false
*.cc linguist-detectable=false
*.cxx linguist-detectable=false
*.hpp linguist-detectable=false
*.m linguist-detectable=false
*.mm linguist-detectable=false
*.nasl linguist-detectable=false
Makefile linguist-detectable=false
makefile linguist-detectable=false
GNUmakefile linguist-detectable=false
*.dart linguist-language=Dart
